/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face {
	font-family:"AVP";
	src:url("AVP.eot?") format("eot"),
		url("AVP.woff") format("woff"),
		url("AVP.ttf") format("truetype"),
		url("AVP.svg#") format("svg");
	font-weight:normal;
	font-style:normal;
}
